#colors{
    color: 
   #FFFFFF
   #EEEEEE
   #DDDDDD
   #000103
   #333138
   #4E598C
   #4E59FF
   #F9C784
   #FCAF58
   #FF8C42
   #FF312E;
}

body{
    margin: 0;
}

.nav{
    background-color: #4E598C;
    height: 8.6vh;
}

.nav img{
    width: 65px;
    float: left;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 0 80%;
}

.nav a{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    float: right;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 22px 25px;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
  }
  
  .flex-container .box {
    background-color: #ffffff;
    width: 100%;
    margin: 10px;
    line-height: 20px;
}

.Title1 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.T1-Para {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.Title2 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.T2-Para {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.Title3 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.T3-Para {
    font-family: 'Roboto', sans-serif;
    text-align: right;
}



